:root { 
--blue_gray_50:#edf1f8; 
--black_900_3f:#0000003f; 
--gray_900_19:#19182519; 
--gray_50:#fafafa; 
--green_500:#4caf50; 
--black_900_01:#070707; 
--black_900:#000000; 
--teal_900:#022a3a; 
--deep_orange_A700:#e42f07; 
--blue_gray_700:#235f7f; 
--deep_orange_500:#ff5722; 
--pink_500:#e51e5a; 
--blue_gray_900:#222831; 
--red_A700:#fb0000; 
--deep_orange_A400:#ff3d00; 
--gray_600:#727272; 
--gray_700:#616161; 
--gray_600_01:#777777; 
--blue_700:#1976d2; 
--amber_500:#ffc107; 
--blue_500:#20a5df; 
--gray_800:#3a3a38; 
--gray_900:#191825; 
--gray_900_01:#1a1a1a; 
--blue_gray_500:#5f7c8d; 
--gray_200:#eeeeee; 
--blue_gray_500_63:#5f7c8d63; 
--black_900_11:#00000011; 
--gray_900_7f:#1918257f; 
--white_A700_01:#fcfeff; 
--white_A700_02:#fffcfc; 
--blue_200:#8ec2f2; 
--blue_gray_700_02:#295c7a; 
--white_A700:#ffffff; 
--blue_gray_700_01:#255f7e; 
--deep_orange_500_33:#ff572233; 
--blue_gray_500_8c:#5f7c8d8c; 
}